img {
    display: flex;
    justify-content: center;
    margin: auto;
    align-self: auto;
}
.buttons{
    text-align: center;
    padding: 25px;
    
}
.botbut {
    margin:auto;
    display: inline-block;
    height: 36px;
    color: #222222;
    border-radius: 4px;
    margin-right: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f8f8;
    background-image: -moz-linear-gradient(rgb(245, 245, 245), rgb(241, 241, 241));
    border: 1px solid #c6c6c6;
    border-color: rgb(242, 242, 242);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
input {
    display: flex;
    align-self: auto;
    size: 100px;
    margin: auto;
    height: 44px;
    border-radius: 24px;
    width: 582px;
    padding: 3px;
    border: 1px solid #dfe1e5;
}
.mag {
    position: absolute;
    bottom: 62px;
    right: 275px

}
#tagline {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;

}
ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    
}
footer{
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    height: 30px;
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-left: -27px;;
}
.leftnav {
  float: left;
}
.leftbot    {
    float: left;
    margin-left: 30px;
    color: rgb(95, 99, 104)
}

a{
  display: block;
  padding: 10px;
  flex: 1;
  color:rgb(95, 99, 104);
  text-decoration: none;
}
a:hover{
    text-decoration: underline;
    text-decoration: rgb(95, 99, 104);
    text-decoration-color: rgb(95, 99, 104);
}
.rightnav{
    float: right;
}
.rightbot {
    float: right ;
    margin-left: 30px;
    color: rgb(95, 99, 104)
}